.outer-box {
	display: flex;

	&--mine {
		justify-content: flex-end;
	}

	&--theirs {
		justify-content: flex-start;
	}

	&--bot {
		justify-content: center;
	}

	.inner-box {
		max-width: 60%;
		min-width: 25%;
		padding: 0.25em 0.25em;
		margin: 0.25em 0.25em;
		border-bottom-right-radius: 25px;
		border-bottom-left-radius: 25px;

		&--mine {
			border: 1px solid orange;
			// border-top-right-radius: px;
		}

		&--theirs {
			border: 1px solid pink;
		}

		&--bot {
			border: 1px solid green;
		}

		&:hover .delete-icon {
			opacity: 1;
			cursor: pointer;
		}

		.delete-icon {
			opacity: 0;
			color: red;
		}

		.header-box {
			display: flex;
			justify-content: space-between;
			border: 5px solid red;
			padding: 0.25em;
		}

		.content-box {
			display: flex;
			border: 5px solid pink;
			padding: 0.25em;
		}

		.footer-box {
			display: flex;
			justify-content: flex-end;
			border: 5px solid green;
		}
	}
}
