.layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: red 5px dotted;

  .leftSideContainer {
    border: red 3px solid;
  }

  .rightSideContainer {
    border: red 3px solid;
  }

  .contacts {
    justify-content: flex-start;
    border: 5px red solid;
    padding: 0;
    justify-content: flex-start;
  }

  .chatBox {
    justify-content: flex-end;
    display: flex;
    flex-direction: column;

    .chatArea {
      justify-content: flex-start;
      border: 5px pink solid;
    }

    .chatInput {
      border: 5px blue solid;
      padding: 0;
      justify-content: flex-end;
    }
  }
}
