.layout {
  display: flex;
  flex-direction: row;

  width: 100%;
  border: red 5px dotted;

  .leftSideContainer {
    border: red 3px solid;
  }

  .rightSideContainer {
    border: red 3px solid;
  }

  border: black solid 2px;
  height: 55.6vmax;
  width: 98.7vmax;


  .contactsArea {

    justify-content: flex-start;
    display: flex;
    flex-direction: column;

    .chatHeader {
      justify-content: flex-start;
    }

    .contacts {
      justify-content: flex-start;
      border: 5px red solid;
      padding: 0;
      height: 85vh;
      overflow: auto;
    }
  }

  .chatBox {
    justify-content: flex-end;
    display: flex;
    flex-direction: column;

    .chatArea {
      justify-content: flex-start;
      border: 5px pink solid;

      width: 72vmax;
      height: 76vmax;
      overflow: auto;

    }

    .chatInput {
      border: 5px blue solid;
      padding: 0;
      justify-content: flex-end;
    }
  }
}
