.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}

.leftSide {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rightSide {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
